.dropdownbtn {
	background-color: #e3f2fd;
	color: rgba(0,0,0,.5);
	padding: 12px;
	font-size: 12px;
}

.dropdowndemo {
	display: block;
}

.dropdownlist-content {
	display: none;
	position: absolute;
	background-color: lightblue;
	min-width: 120px;
	z-index: 1;
}

dropdownlist-content a {
	color: darkblue;
	padding: 14px 18px;
	display: block;
}

.dropdownlist-content a:hover {
	background-color: #e3f2fd;
	color: black;
}

.dropdowndemo:hover .dropdownlist-content {
	display: block;
}

.dropdowndemo:hover .dropdownbtn {
	background-color: blue;
}